/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
header {
    display: flex;
    align-items: baseline;
    color: #212121;
    margin: 10px;
}

#by {
    font-size: 10px;
    margin: 7px;
}

#Inputs {
    font-family: Arial;
    color: #212121;
    margin: 10px;
}

#medicineName {
    width: 450px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    transition: width 0.4s ease-in-out;
}

button {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    transition: width 0.4s ease-in-out;
}

button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.editMedicine {
    display: inline-block;
    transition: box-shadow .3s;
    width: 300px;
    height: 100px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.editMedicine:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.info {
    display: inline-block;
    transition: box-shadow .3s;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.info:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.medName {
    font-family: Arial;
    color: #212121;
    padding-left: 10px;
}

.medPrice {
    font-family: Arial;
    font-weight: bold;
    color: #d62718;
    padding-left: 10px;
}



/* The popup form - hidden by default */
#addForm-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 5px solid #d62718;
    z-index: 9;
}

/* Add styles to the form container */
#addForm {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
#addForm input[type=text], #addForm input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.cancelAddBtn {
    float: right;
}


/* The popup form - hidden by default */
#delForm-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 5px solid #d62718;
    z-index: 9;
}

/* Add styles to the form container */
#delForm {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
#delForm input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.cancelDelBtn {
    float: right;
}